@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Patua One", serif;
	letter-spacing: 2px;
}

ul {
	list-style-type: none;
	padding-inline-start: 0.25rem;
}

#cart--purchase {	
	margin: 1rem 1rem 1rem 1rem;
	padding: 0.5rem;
	background-color: rgb(227, 72, 72);
	color: lightgoldenrodyellow;
	font-size: 1rem;
}

.main--row1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	height: 25vh;
}

.main--row2 {
	display: flex;
	justify-content: space-between;
	height: 20vh;
}

.row1--options {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 20px;
}

.row1--colony-minerals {
	padding-right: 50px;
}

.row2--facility-minerals {
	display: flex;
	flex-direction: column;
	border: 2px dotted purple;
	width: 75%;
	padding: 5px;
	align-items: center;
}

.row2--cart {
	display: flex;
	flex-direction: column;
	border: 2px dotted turquoise;
	padding: 5px;
	width: 20%;
	align-items: center;
}

.header--title {
	font-size: 2em;
}